html {
  scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: Helvetica;
    color: white;
}


header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 15px 80px;
  top: 0;
  left: 0; 
  right: 0;
  z-index: 99;
}

header .logo img {
  height: 100px;
  width: auto;
  margin-right: 0;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

header nav ul {
  display: flex;
}

header nav ul li {
  cursor: pointer;
  position: relative;
  padding: 5px 0;
}

header nav ul li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.1s ease;
}

header nav ul li:hover::after {
  width: 100%;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

}

nav li {
  margin-left: 20px;

}

nav a {
  text-decoration: none;
  color: white;
  font-size: 17px;

}

.cabecalho {
    background: linear-gradient(#521212, #3d0a0a);
    padding: 100px 20px;
    text-align: center;
}

.cabecalho h1 span {
    font-weight: bold;
    color: white;
}

.cabecalho h1{
    color: black;
    font-size: 50px;
}

.cabecalho .sub {
    max-width: 900px;
    margin: 50px auto;
    line-height: 1.5;
    font-size: 20px;
}

.content {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    padding: 177px;
   
}

.imagem img {
    width: 700px;
    border-radius: 10px;
    margin-right: 520px;
    border: 2px solid;
    border-color: #fff;
}

.info {
    display: flex;
    flex-direction: column;
    margin-top: 40px; 
    font-size: 22px;
    line-height: 3.0;
    margin-left: -100px;
}

.icon {
   width: 30px;
    height: 30px;
    object-fit: contain;
    margin-right: 10px;
}

.footer {
    background-color: black;
    color:#ffffff;
    padding: 70px;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    line-height: 3.0;
}

.footer-colunas{
    margin-right: -200px;
    margin-top: 200px;
    justify-items:flex-start;
}
.footer-colunas a {
    display: block;
    color: #dddddd;
    text-decoration: none;
    margin: 8px 0;
    font-size: 15px;
    margin-left: 100;
}

.footer-colunas a:hover {
    color: #521212;
}

.footer-title {
    color: #521212;
    font-size: 15px;
    font-weight:bold;
}

.footer-container .footer-logos img {
    width: 500px;
    margin-bottom: 40px;
    margin-left: -350px;
}
.footer-container .social-icons img {
    width: 40px;
    padding: 15px;
    margin-top: -20px;
    margin-left: -140px;
    flex-direction: column;
}

.footer-container h2{
    margin-top: -180px;
    margin-left: -230px;
    font-weight: 100;
    font-size: 15px;
}