body {
    margin: 0;
    font-family: Helvetica;
    color: white;
}


.cabecalho {
    background: linear-gradient(#521212, #3d0a0a);
    padding: 100px 20px;
    text-align: center;
}

.cabecalho h1 span {
    font-weight: bold;
    color: white;
}

.cabecalho h1{
    color: black;
    font-size: 50px;
}

.cabecalho .sub {
    max-width: 900px;
    margin: 50px auto;
    line-height: 1.5;
    font-size: 20px;
}

.content {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    padding: 177px;
   
}

.imagem img {
    width: 700px;
    border-radius: 10px;
    margin-right: 520px;
    border: 2px solid;
    border-color: #fff;
}

.info {
    display: flex;
    flex-direction: column;
    margin-top: 40px; 
    font-size: 22px;
    line-height: 3.0;
    margin-left: -100px;
}

.icon {
   width: 30px;
    height: 30px;
    object-fit: contain;
    margin-right: 10px;
}

.footer {
    background-color: black;
}