* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    font-family: Arial, sans-serif;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 10;
}

header .logo img {
    max-height: 70px;
}

nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #a00000;
}

h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 26px;
}

form {
    width: 350px;
    background: #111;
    padding: 25px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.3);
}

form label {
    display: block;
    margin-bottom: 6px;
    font-size: 15px;
}

form input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #555;
    background: #222;
    color: #fff;
    margin-bottom: 15px;
}

form button {
    width: 100%;
    padding: 12px;
    background: #5a0b0b;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover {
    background: #7d0f0f;
}

.footer {
    background: #000000;
    padding: 40px 0;
    margin-top: auto;
}

.footer-container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-logos img {
    width: 300px;
    margin-bottom: 15px;
}

.footer-logos h2 {
    margin-left: -170px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #fff;
}

.social-icons {
    display: flex;
    gap: 15px;
}

.social-icons img {
    width: 40px;
    transition: 0.3s;
}

.social-icons img:hover {
    opacity: 0.6;
}

.social-icons .Youtube img{
  width: 5px;
}

.footer-colunas {
    display: flex;
    flex-direction: column;
    min-width: 150px;
}

.footer-title {
    color: #521212;
    font-weight: bold;
    margin-bottom: 8px;
}

.footer-colunas a {
    text-decoration: none;
    color: #ddd;
    margin: 4px 0;
    transition: 0.3s;
}

.footer-colunas a:hover {
    color: #fff;
}
