* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
  font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
    color: #333;
    background-image: url("img/Fundo\ 4.png");
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;   
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 15px 80px;
  top: 0;
  left: 0; 
  right: 0;
  z-index: 99;
}

header .logo img {
  height: 100px;
  width: auto;
  margin-right: 0;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

header nav ul {
  display: flex;
}

header nav ul li {
  cursor: pointer;
  position: relative;
  padding: 5px 0;
}

header nav ul li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.1s ease;
}

header nav ul li:hover::after {
  width: 100%;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

}

nav li {
  margin-left: 20px;

}

nav a {
  text-decoration: none;
  color: white;
  font-size: 17px;

}

h2 {
    margin-bottom: 350px;
    margin-left: 50px;
    color: #511212;
    
}

form {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-left: -255px;
}

input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    margin-top: 5px;
    border: 1px solid #aaa;
}

button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background: #511212;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #666666;
    box-shadow: 0px 0px 4px 4px #999999;
}

.footer {
    background-color: black;
    color:#ffffff;
    padding: 70px;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    line-height: 3.0;
}

.footer-colunas{
    margin-right: -200px;
    margin-top: 90px;
}
.footer-colunas a {
    display: block;
    color: #dddddd;
    text-decoration: none;
    margin: 8px 0;
    font-size: 15px;
    margin-left: 100;
}

.footer-colunas a:hover {
    color: #521212;
}

.footer-title {
    color: #521212;
    font-size: 15px;
    font-weight:bold;
}

.footer-container .footer-logos img {
    width: 500px;
    margin-bottom: 40px;
    margin-left: -350px;
}
.footer-container .social-icons img {
    width: 40px;
    padding: 15px;
    margin-top: -20px;
    margin-left: -140px;
    flex-direction: column;
}

.footer-container h2{
    margin-top: -180px;
    margin-left: -230px;
    font-weight: 100;
    font-size: 15px;
}