
body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 16px 80px;
  top: 0;
  left: 0; 
  right: 0;
  z-index: 99;
}

.logo img {
    height: 45px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 18px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: 0.2s;
}

nav ul li a:hover {
    color: #c73c3c;
}

.container {
    max-width: 900px;
    margin: 130px auto 50px;
    padding: 20px;
}

.container h1 {
    font-size: 32px;
    color: #c73c3c;
}

.container h2 {
    margin-top: 22px;
    color: #c73c3c;
}

.container p,
.container li {
    font-size: 16px;
    line-height: 1.6;
}

ul {
    padding-left: 20px;
}


.footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: #8f7979;
    margin-top: 40px;
    font-size: 14px;
}
