
body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 15px 80px;
  top: 0;
  left: 0; 
  right: 0;
  z-index: 99;
}

header .logo img {
  height: 80px;
  width: auto;
  margin-right: 0;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

header nav ul {
  display: flex;
}

header nav ul li {
  cursor: pointer;
  position: relative;
  padding: 5px 0;
}

header nav ul li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.1s ease;
}

header nav ul li:hover::after {
  width: 100%;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

}

nav li {
  margin-left: 20px;

}

nav a {
  text-decoration: none;
  color: white;
  font-size: 17px;

}
.container {
    max-width: 900px;
    margin: 130px auto 50px;
    padding: 20px;
}

.container h1 {
    font-size: 32px;
    color: #521212;
}

.container h2 {
    margin-top: 22px;
    color: #521212;
}

.container p,
.container li {
    font-size: 16px;
    line-height: 1.6;
}

ul {
    padding-left: 20px;
}


