* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
  background-image: url('img/Fundo\ 1.png');

}

header {
  height: 70px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 15px 80px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.35);
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

header .logo img {
  margin-top: -20px;
  height: 80px;
  width: auto;
  margin-right: 0;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

header nav ul {
  display: flex;
}

header nav ul li {
  cursor: pointer;
  position: relative;
  padding: 5px 0;
}

nav ul li:hover a {
  color: #521212;
}

header nav ul li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #521212;
  transition: width 0.3s ease;
}

header nav ul li:hover::after {
  width: 100%;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

}

nav li {
  margin-left: 20px;

}

nav a {
  text-decoration: none;
  color: white;
  font-size: 17px;

}

.inicial {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 1px;
  padding-left: 300px;
  color: white;
  margin-top: 150px;

}

.inicial-img {
  order: -1;
  position: relative;
  z-index: 1;
}

.inicial-img:hover {
  transform: scale(1.05);
  position: relative;
  z-index: 1;
  
}

.inicial-img img {
  margin-top: -10%;
  width: 500px;
  height: 400px;
  display: block;
  margin-left: -25px;
}


.inicial-texto {
  max-width: 450px;
}

.inicial-h1 h1 {
  margin-top: -300px;
  font-size: 25px;
  line-height: 1.2;
  font-weight: 100;
  position: relative;
  z-index: 99;
}

.inicial-h1:hover{
  position: relative;
  z-index: 99;
  transform: scale(1.02) translateX(-3px);
}

.inicial-p p {
  text-transform: none;
  position: relative;
  z-index: 99;
  transition: transform 0.3s ease;
  padding: 0px;
  margin: 0 0 25px 0;
  font-size: 20px;
  font-weight: 200;
  line-height: 1.4;
  color: #f0f0f0;
  margin-top: -190px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.inicial-p p:hover {
  transform: scale(1.02);
}

.inicial-p1 p{
  padding: 0px;
  margin-top: -80px;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.2;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fafafae7;
  margin-bottom: -10px;
  text-transform: none;
  position: relative;
  z-index: 99;
}

.inicial-p1:hover {
  transform: scale(1.02);
  position: relative;
  z-index: 99;
}

.btn {
  margin-top: -15px;
  padding: 10px 35px;
  border: none;
  background-color: #521212;
  font-size: 15px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;

}

.btn a{
  color: rgb(255, 255, 255);

}


.btn:hover {
  background-color: #5212128c;
  box-shadow: 0px 0px 3px 3px #521212c0;
  transform: scale(1.10);
}

.sobre {
  margin-top: 320px;
  width: 100%;
  min-height: 100vh;
  background-image: url("img/Fundo\ 2.png");

}

.sobre .divisoria {
  background-color: #000000ab;
  box-shadow: 0px 0px 14px 14px #000000b7;
  height: 20px;
}

.sobre .titulo img {
  width: 375px;
  height: 200px;
  margin-left: 190px;
  margin-top: 175px;
}


.sobre .content {
  margin-left: 310px;
  text-align: left;
  padding: 100px;

}

.sobre .sobre-img img {
  margin-left: 1200px;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  width: 450px;
  height: 550px;
  margin-top: -160px;
  border-radius: 5%;
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
}

.sobre .content h1 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 1000;
  margin-top: -550px;
  width: 500px;
  margin-left: -200px;
}

.sobre .content p {
  text-transform: none;
  font-weight: 100;
  font-size: 19px;
  line-height: 1.4;
  margin-top: 5px;
  margin-left: -200px;
  color: #e6e6e6;
}

.cli-satis{
  display: flex;
  gap: 200px;

}

.clientes:hover{
  transform: scale(1) translateY(-10px);

}

.clientes h1 {
  font-size: 30px;
  color: #fff;
  margin-top: -300px;
  margin-left: 250px;
}

.clientes p {
  font-size: 30px;
  color: #fff;
  margin-top: 10px;
  margin-left: 300px;
}

.satisfacao:hover{
  transform: scale(1) translateY(-10px);

}

.satisfacao h1 {
  font-size: 30px;
  color: #fff;
  margin-top: -300px;

}

.satisfacao p {
  font-size: 30px;
  color: #fff;
  margin-top: 10px;
  margin-left: 35px;
}

.servicos {
  background-image: url('img/Fundo\ 1.png');
  width: 100%;
  min-height: 100vh;
}

.servicos .divisoria {
  background-color: #000000d0;
  box-shadow: 0px 0px 10px 5px #000000d7;
  height: 20px;

}

.servicos .titulo img {
  margin-left: 600px;
  margin-top: -50px;
}

.servicos .titulo .titulo-img:hover{
  transform: scale(1) translateY(-10px);

}

.servicos .titulo .subtitulo {
  margin-top: -100px;
}

.servicos .titulo .subtitulo h2{
  padding: 0px;
  margin-top: -80px;
  margin-left: 600px;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fafafae7;
  text-transform: none;

}

.servicos .titulo .subtitulo1 h3{
  padding: 0px;
  margin-top: -80px;
  margin-left: 740px;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.2;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #fafafae7;
  text-transform: none;

}

.servicos .box-container {
  display: grid;
  margin-top: 150px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 350px));
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  
}

.servicos .box-container .slide1 {
  text-align: center;
  border: #521212;
  padding: 3rem;
  background-color: #ffffff;
  height: 460px;
  width: 350px;
  border-radius: 50px;

}


.servicos .box-container .slide1 h1 {
  color: #521212;
  text-align: center;
  font-size: 23px;
  margin-bottom: 20px;
  font-weight: 900;
  line-height: 1.1;
  text-transform: none;
}

.servicos .box-container .slide1 p {
  color: #000000;
  text-align: left;
  font-size: 20px;
  line-height: 1.1;
  text-transform: none;
}

.servicos .box-container .slide1 img {
  width: 80px;
}

.servicos .box-container .slide1:hover {
  box-shadow: 0px 0px 12px 12px #777777;
  background-color: #e7e7e7;
  transform: scale(1.03) translateY(-15px);
}

.servicos .box-container .slide2 {
  text-align: center;
  border: #521212;
  padding: 3rem;
  background-color: #ffffff;
  height: 460px;
  width: 350px;
  border-radius: 50px;

}

.servicos .box-container .slide2 h1 {
  color: #521212;
  text-align: center;
  font-size: 23px;
  margin-bottom: 20px;
  font-weight: 900;
  line-height: 1.1;
  text-transform: none;

}

.servicos .box-container .slide2 p {
  color: #000000;
  text-align: left;
  font-size: 20px;
  line-height: 1.1;
  text-transform: none;
}

.servicos .box-container .slide2 img {
  width: 80px;
}

.servicos .box-container .slide2:hover {
  box-shadow: 0px 0px 12px 12px #777777;
  background-color: #e6e6e6;
  transform: scale(1.03) translateY(-15px);
}

.servicos .box-container .slide3 {
  text-align: center;
  border: #521212;
  padding: 3rem;
  background-color: #ffffff;
  height: 460px;
  width: 350px;
  border-radius: 50px;

}

.servicos .box-container .slide3 h1 {
  color: #521212;
  text-align: center;
  font-size: 23px;
  margin-bottom: 20px;
  font-weight: 900;
  line-height: 1.1;
  margin-top: 5px;
  text-transform: none;
}

.servicos .box-container .slide3 p {
  color: #000000;
  text-align: left;
  font-size: 20px;
  line-height: 1.1;
  text-transform: none;
}

.servicos .box-container .slide3 img {
  width: 80px;
}

.servicos .box-container .slide3:hover {
  box-shadow: 0px 0px 12px 12px #777777;
  background-color: #e7e7e7;
  transform: scale(1.03) translateY(-15px);
}

.servicos .box-container .slide4 {
  text-align: center;
  border: #521212;
  padding: 3rem;
  background-color: #ffffff;
  height: 460px;
  width: 350px;
  border-radius: 50px;
  text-transform: none;

}

.servicos .box-container .slide4 h1 {
  color: #521212;
  text-align: center;
  font-size: 23px;
  margin-bottom: 20px;
  font-weight: 900;
  line-height: 1.1;
  margin-top: 20px;
  text-transform: none;
}

.servicos .box-container .slide4 p {
  color: #000000;
  text-align: left;
  font-size: 20px;
  line-height: 1.1;
  text-transform: none;

}

.servicos .box-container .slide4:hover {
  box-shadow: 0px 0px 12px 12px #777777;
  background-color: #e7e7e7;
  transform: scale(1.03) translateY(-15px);
}

.servicos h2 {
  margin-left: 500px;
  margin-top: -80px;
  font-weight: 100;
  color: #fff;
}

.servicos h3 {
  margin-left: 725px;
  margin-top: -95px;
  font-weight: 100;
  color: #fff;
}

:root {
  --main: #c02a2a;
  --preto: #060405;
  --borda: rgba(255, 255, 255, 0.12);
  --transparente: rgba(255, 255, 255, 0.03);
  --estrelas: #cfa21b;
  --texto: #f3f3f3;
  --comentario: rgba(255, 255, 255, 0.7);
}

.section {
  padding: 50px 20px;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(img/Fundo\ 3.png);

}

.section .divisoria {
  background: linear-gradient(to right, #131313c9 0%, #3f0000da 50%, #131313c9 100%);
  box-shadow: 0px 0px 10px 5px #3800008f;
  height: 20px;
  margin-bottom: 300px;
  margin-top: -300px;
}

.container {
  min-width: 100%;
  margin-top: 150px;
  margin-left: -250px;
  margin-right: -250px;
  min-height: 200px;

}

.section .container h1 {
  width: 100%;

  margin-top: -220px;
  text-align: center;
  font-weight: 800;
  font-size: 50px;
  color: var(--texto);
  display: block;

}

.section .container span {
  line-height: 0.8;
  text-align: center;
  font-weight: 800;
  font-size: 50px;
  color: var(--main);
  display: block;
}

.section .container .titulo:hover{
  transform: scale(1.03) translateY(-10px)
}


.avaliacoes {
  display: grid;
  grid-template-columns: repeat(3, 0.7fr);
  gap: 28px;
  align-items: start;
  margin-top: 100px;
}

.avaliacao {
  background: linear-gradient(180deg, rgba(92, 61, 61, 0.534), rgba(255, 255, 255, 0.01));
  border: 1px solid var(--borda);
  padding: 34px 22px 28px;
  position: relative;
  min-height: 330px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 4px;
}

.avaliacao:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 40px rgba(110, 64, 64, 0.932);
  transform: scale(1.03) translateY(-15px);
}

.quote {
  position: absolute;
  top: 18px;
  left: 18px;
  font-size: 56px;
  line-height: 1;
  color: rgb(255, 255, 255);
  font-weight: 700;
  pointer-events: none;
}

.foto-perfil {
  margin-top: 8px;
  margin-bottom: 12px;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.06);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.02), rgba(0, 0, 0, 0.12));
}

.perfil {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;

}

.nome {
  margin: 8px 0 8px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
}

.comentario {
  font-size: 13px;
  line-height: 1.4;
  color: var(--comentario);

  margin-bottom: 16px;
  color: #fff;
}

.estrelas {
  margin-top: 6px;
  font-size: 16px;
  color: var(--estrelas);
  letter-spacing: 2px;
}

.footer {
    background-color: black;
    color:#ffffff;
    padding: 30px;
   
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    line-height: 3.0;
}

.footer-colunas{
    margin-right: -200px;
    margin-top: 90px;
}
.footer-colunas a {
    display: block;
    color: #dddddd;
    text-decoration: none;
    margin: 8px 0;
    font-size: 15px;
    margin-left: 100;
}

.footer-colunas a:hover {
    color: #521212;
}

.footer-title {
    color: #521212;
    font-size: 15px;
    font-weight:bold;
}

.footer-container .footer-logos img {
    width: 500px;
    margin-bottom: 40px;
    margin-left: -350px;
    
}
.footer-container .social-icons img {
    width: 70px;
    display: flex;
    align-items: center;
    padding: 15px;
    margin-top: -20px;
    margin-left: -140px;
}

.footer-container .social-icons {
    display: flex;
    gap: 70px;
    margin-left: -110px;

}

.footer-container .social-icons .yt{
  margin-top: 3px;
}

.footer-container .social-icons .yt:hover{
  transform: scale(1.03) translateY(-5px);
}

.footer-container .social-icons .insta:hover{
  transform: scale(1.03) translateY(-5px);
}

.footer-container .social-icons .linkedin:hover{
  transform: scale(1.03) translateY(-5px);
}

.footer-container h2{
    margin-top: -180px;
    margin-left: -230px;
    font-weight: 100;
    font-size: 15px;
}

