body {
      margin: 0;
      font-family: Arial, sans-serif;
      color: #333;
      background-image: url('img/Fundo\ 1.png');
    }
    header {
      background-color: transparent;
      padding: 1px;
      box-shadow: 0 2px 4px rgba(0,0,0,0.1);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    header .logo{
      font-size: 24px;
      font-weight: bold;
      color: #333;
    }

    header .logo img{
        height: 100px;
        width: 150px;
        margin-right: 1000px;
    }

    nav ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
  
    }
    nav li {
      margin-left: 20px;

    }
    nav a {
      text-decoration: none;
      color: white;
      font-size: 17px;
    }

  .inicial {
      display: flex;
      flex-direction: column; 
      align-items: flex-start;
      text-align: left;
      gap: 1px;
      padding-left: 300px; 
      padding-top: 150px;
      color: white;
  }

  .inicial-texto {
      max-width: 450px;
  }

  .inicial-h1 h1 {
      margin-top: -300px; 
      font-size: 30px;
      line-height: 1.2;
      font-weight: 100;
  }

  .inicial-p p{
      
      padding: 0px;
      margin: 0 0 25px 0;
      font-size: 20px;
      font-weight: 200;
      line-height: 1.4;
      color: #f0f0f0;
      margin-top: -190px; 
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
  }

  .btn {
      padding: 12px 25px;
      border: none;
      background-color: #521212;
      color: white;
      font-size: 20px;
      border-radius: 50px;
      cursor: pointer;
      transition: 0.3s;

  }

  .btn :hover {
      background-color: #521212;
  }


.inicial-img{    
  order:-1;
}

  .inicial-img img {
    margin-top: -10%;
    width: 500px;
    height: 400px;
    display: block;
    margin-left: -25px;
  }





   
  