* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
  background-image: url('img/Fundo\ 1.png');

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 80px;
}

header .logo img {
  height: 80px;
  width: auto;
  margin-right: 0;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

header nav ul {
  display: flex;
}

header nav ul li {
  cursor: pointer;
  position: relative;
  padding: 5px 0;
}

header nav ul li::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.1s ease;
}

header nav ul li:hover::after {
  width: 100%;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

}

nav li {
  margin-left: 20px;

}

nav a {
  text-decoration: none;
  color: white;
  font-size: 17px;
}

.inicial {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 1px;
  padding-left: 300px;
  padding-top: 50px;
  color: white;

}

.inicial-texto {
  max-width: 450px;
}

.inicial-h1 h1 {
  margin-top: -300px;
  font-size: 25px;
  line-height: 1.2;
  font-weight: 100;
}

.inicial-p p {

  padding: 0px;
  margin: 0 0 25px 0;
  font-size: 20px;
  font-weight: 200;
  line-height: 1.4;
  color: #f0f0f0;
  margin-top: -190px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn {
  padding: 12px 40px;
  border: none;
  background-color: #521212;
  color: white;
  font-size: 15px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;

}

.btn :hover {
  background-color: #521212;
}


.inicial-img {
  order: -1;
}

.inicial-img img {
  margin-top: -10%;
  width: 500px;
  height: 400px;
  display: block;
  margin-left: -25px;
}

.sobre {
  margin-top: 320px;
  width: 100%;
  min-height: 100vh;
  background-image: url("img/Fundo\ 2.png");
}

.sobre .titulo img {
  width: 375px;
  height: 200px;
  margin-left: 190px;
  margin-top: 175px;
}

.sobre .content {
  margin-left: 310px;
  text-align: left;
  padding: 100px;

}

.sobre .sobre-img img {
  margin-left: 1200px;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  width: 450px;
  height: 550px;
  margin-top: -160px;
  border-radius: 5%;
  border-width: 2px;
  border-style: solid;
  border-color: #fff;
}

.sobre .content h1 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 1000;
  margin-top: -550px;
  width: 500px;
  margin-left: -200px;
}

.sobre .content p {
  font-weight: 100;
  font-size: 19px;
  line-height: 1.4;
  margin-top: 5px;
  margin-left: -200px;
  color: #e6e6e6;
}

.clientes h1 {
  font-size: 30px;
  color: #fff;
  margin-top: -300px;
  margin-left: 250px;
}

.clientes p {
  font-size: 30px;
  color: #fff;
  margin-top: 30px;
  margin-left: 300px;
}

.satisfacao h1 {
  font-size: 30px;
  color: #fff;
  margin-top: -100px;
  margin-left: 675px;
}

.satisfacao p {
  font-size: 30px;
  color: #fff;
  margin-top: 25px;
  margin-left: 715px;
}

.servicos .fundo {
  background-color: #000000;
  box-shadow: 0px 0px 12px 12px #5212126b;
  height: 330px;
  padding-left: 570px;
  margin-bottom: 100px;
}


.servicos .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 350px));
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    
}

.servicos .box-container .slide1{
    text-align: center;
    border: #521212;
    padding: 3rem;
    background-color: #ffffff;
    height: 460px;
    width: 350px;
    border-radius: 10px;

}

.servicos .box-container .slide1 h1{
  color: #521212;
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: 900;
  line-height: 1.1;
}

.servicos .box-container .slide1 p{
  color: #000000;
  text-align: left;
  font-size: 25px;
  line-height: 1.1;
  

}

.servicos .box-container .slide1:hover{
  box-shadow: 0px 0px 12px 12px #777777; 
  background-color: #e7e7e7;

} 

.servicos .box-container .slide2{
    text-align: center;
    border: #521212;
    padding: 3rem;
    background-color: #ffffff;
    height: 460px;
    width: 350px;
    border-radius: 10px;

}

.servicos .box-container .slide2 h1{
  color: #521212;
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: 900;
  line-height: 1.1;
}

.servicos .box-container .slide2 p{
  color: #000000;
  text-align: left;
  font-size: 22px;
  line-height: 1.1;
  

}

.servicos .box-container .slide2:hover{
  box-shadow: 0px 0px 12px 12px #777777;  

} 

.servicos .box-container .slide3{
    text-align: center;
    border: #521212;
    padding: 3rem;
    background-color: #ffffff;
    height: 460px;
    width: 350px;
    border-radius: 10px;

}

.servicos .box-container .slide3 h1{
  color: #521212;
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: 900;
  line-height: 1.1;
}

.servicos .box-container .slide3 p{
  color: #000000;
  text-align: left;
  font-size: 24px;
  line-height: 1.1;
  

}

.servicos .box-container .slide3:hover{
  box-shadow: 0px 0px 12px 12px #777777;  
  background-color: #e7e7e7;

} 

.servicos .box-container .slide4{
    text-align: center;
    border: #521212;
    padding: 3rem;
    background-color: #ffffff;
    height: 460px;
    width: 350px;
    border-radius: 10px;

}

.servicos .box-container .slide4 h1{
  color: #521212;
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: 900;
  line-height: 1.1;
}

.servicos .box-container .slide4 p{
  color: #000000;
  text-align: left;
  font-size: 24px;
  line-height: 1.1;

}

.servicos .box-container .slide4:hover{
  box-shadow: 0px 0px 12px 12px #777777;  

} 

:root {
  --main: #c02a2a;
  --dark: #060405;
  --card-border: rgba(255, 255, 255, 0.12);
  --glass: rgba(255, 255, 255, 0.03);
  --accent: #cfa21b;
  --text: #f3f3f3;
  --muted: rgba(255, 255, 255, 0.7);
}

.section {
  padding: 50px 20px;
  margin-top: 100px;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(img/Fundo\ 3.png);
  
}

.container {
  width: 100%;
  margin-top: -35px;
  margin-left: -250px;
  margin-right: -250px;
  min-height: 200px;

}

.section .container .titulo h1 {
  margin-top: 200px;
  text-align: center;
  font-weight: 800;
  font-size: 50px;
  color: var(--text);
  display: block;
}


.avaliacoes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
  align-items: start;
  margin-top: 100px;
}

.avaliacao {
  background: linear-gradient(180deg, rgba(92, 61, 61, 0.534), rgba(255, 255, 255, 0.01));
  border: 1px solid var(--card-border);
  padding: 34px 22px 28px;
  position: relative;
  min-height: 330px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 4px;
}

.avaliacao:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 40px rgba(110, 64, 64, 0.932);
}

.quote {
  position: absolute;
  top: 18px;
  left: 18px;
  font-size: 56px;
  line-height: 1;
  color: rgb(255, 255, 255);
  font-weight: 700;
  pointer-events: none;
}

.foto-perfil {
  margin-top: 8px;
  margin-bottom: 12px;
  width: 84px;
  height: 84px;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.06);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.02), rgba(0, 0, 0, 0.12));
}

.perfil {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;

}

.nome {
  margin: 8px 0 8px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
}

.comentario {
  font-size: 13px;
  line-height: 1.4;
  color: var(--muted);

  margin-bottom: 16px;
  color: #fff;
}

.estrelas {
  margin-top: 6px;
  font-size: 16px;
  color: var(--accent);
  letter-spacing: 2px;
}
