<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos Group HOPE</title>
    <link rel="stylesheet" href="../static/contatos.css">

</head>
<body>

    <header class="cabecalho">
        <h1><span>Entre em</span> Contato Conosco</h1>
        <p class="sub"> Estamos sempre prontos para ouvir você!<br>
            Utilize um dos meios abaixo para falar conosco. Será um prazer responder o mais rápido possível.</p>
    </header>

    <section class="content">
        <div class="imagem">
            <img src="../static/img/foto-contatos.png" alt="">
        </div>

        <div class="info">
            <p> +55 11 94002-8922</p>
            <p> grouphopexofc@gmail.com</p>
            <p> 69 Av. Paulista — São Paulo, SP</p>
        </div>
    </section>
    
</body>
</html>