<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos Group HOPE</title>
     <link rel="icon" href="../static/img/Icon.png">
    <link rel="stylesheet" href="../static/contatos.css">

</head>
<body>

    <header class="cabecalho">
        <h1><span>Entre em</span> Contato Conosco</h1>
        <p class="sub"> Estamos sempre prontos para ouvir você!<br>
            Utilize um dos meios abaixo para falar conosco. Será um prazer responder o mais rápido possível.</p>
    </header>

    <section class="content">
        <div class="imagem">
            <img src="../static/img/foto-contatos.png" alt="Group HOPE">
        </div>

        <div class="info">
            <p> <img class="icon" src="../static/img/icon-telefone.png" alt="">
                +55 11 94002-8922 
            </p>

            <p> <img class="icon" src="../static/img/icon-carta.png" alt="">
                grouphopexofc@gmail.com
            </p>

            <p> <img class="icon" src="../static/img/icon-mapa.png" alt="">
                69 Av. Paulista — São Paulo, SP
            </p>
        </div>
    </section>
    
</body>
</html>