<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contatos Group HOPE</title>
    <link rel="icon" href="../static/img/Icon.png">
    <link rel="stylesheet" href="../static/contatos.css">

</head>

<body>

    <header>
        <div class="logo"><img src="../static/img/Logo.png" alt="Logo"></div>
        <nav>
            <ul>
                <li><a href="index.html#inicial">Inicio</a></li>
                <li><a href="index.html#sobre">Sobre</a></li>
                <li><a href="index.html#servicos">Serviços</a></li>
                <li><a href="contatos.html">Contatos</a></li>
            </ul>
        </nav>
    </header>

    <section class="cabecalho">
        <h1><span>Entre em</span> Contato Conosco</h1>
        <p class="sub"> Estamos sempre prontos para ouvir você!<br>
            Utilize um dos meios abaixo para falar conosco. Será um prazer responder o mais rápido possível.</p>
    </section>

    <section class="content">
        <div class="imagem">
            <img src="../static/img/foto-contatos.png" alt="Group HOPE">
        </div>

        <div class="info">
            <p> <img class="icon" src="../static/img/icon-telefone.png" alt="">
                +55 11 94002-8922
            </p>

            <p> <img class="icon" src="../static/img/icon-carta.png" alt="">
                grouphopexofc@gmail.com
            </p>

            <p> <img class="icon" src="../static/img/icon-mapa.png" alt="">
                69 Av. Paulista — São Paulo, SP
            </p>
        </div>
    </section>

    <footer class="footer">
        <!--COLUNA 1 - logos e conectar-->

        <div class="footer-container">
            <div class="footer-logos">
                <img src="../static/img/Logo-GroupHopex.png" alt="Group Hope-X">
                <h2>CONECTE-SE: </h2>

                <div class="social-icons">
                    <a href="https://www.youtube.com/@GroupHope-X">
                    <img src="../static/img/youtube-with-circle-svgrepo-com.svg"  alt="YouTube">
                    </a>
                    <a href="https://www.instagram.com/grouphopex/">
                    <img src="../static/img/icon-instagram.png" alt="Instagram">
                    </a>
                    <a href="https://www.linkedin.com/in/group-hope-x-59282339b/">
                    <img src="../static/img/icon-linkedin.png" alt="Linkedin">
                    </a>
                </div>
            </div>

            <!--COLUNA 2 - empresa-->
            <div class="footer-colunas">
                <p class="footer-title">EMPRESA</p>
                <a href="index.html#sobre">Sobre Nós</a>
                <a href="index.html#servicos">Serviços</a>
                <a href="#">Carreiras</a>
            </div>

            <!--COLUNA 3 - suporte-->
            <div class="footer-colunas">
                <p class="footer-title">SUPORTE</p>
                <a href="#">Documentação</a>
                <a href="#">Central de Ajuda</a>
                <a href="#">Contatos</a>
            </div>

            <!--COLUNA 4 - legal-->
            <div class="footer-colunas">
                <p class="footer-title">LEGAL</p>
                <a href="Politicas.html">Política de Privacidade</a>
                <a href="termos-uso.html">Termos de Uso</a>
                <a href="#">Cookies</a>
            </div>

        </div>
    </footer>

</body>

</html>