<html>
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
    <link rel="icon" href="../static/img/Icon.png">
    <link rel="stylesheet" href="../static/form.css">
</head>

<body>
    <h2>Formulário de Contato</h2>

    <form action="http://127.0.0.1:5000/enviar" method="POST">
        <label>Nome:</label>
        <input type="text" name="nome" required>

        <br><br>

        <label>Email:</label>
        <input type="email" name="email" required style="text-transform: lowercase;">

        <br><br>

        <button type="submit">Enviar</button>
    </form>
</body>
</html>