<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hope-X</title>
  <link rel="icon" href="../static/img/Icon.png">
  <link rel="stylesheet" href="../static/style.css">


</head>

<body>

  <header>
    <div class="logo"><img src="../static/img/Logo.png" alt="Logo"></div>
    <nav>
      <ul>
        <li><a href="#inicial">Inicio</a></li>
        <li><a href="#sobre">Sobre</a></li>
        <li><a href="#servicos">Serviços</a></li>
        <li><a href="contatos.html">Contatos</a></li>
      </ul>
    </nav>
  </header>

  <section class="inicial">

    <section class="inicial-h1">

      <div>
        <h1>Impulsione o Sucesso de sua empresa</h1>
      </div>

    </section>

    <section class="inicial-img">

    <section class="inicial-img">
      <div>
        <img src="../static/img/Logo_da pagina_inicial.png" alt="Logo da pagina inicial">
      </div>
    </section>

    <section class="inicial-p">

      <div>
        <p>Criamos sites sob medida para empresas que querem <br>
          marcar presença com estilo, clareza e estratégia, fortalecendo <br>
          sua identidade online e impulsionando seu crescimento. </p>
      </div>
    </section>
    <section class="inicial-p1">
      <p>Agende sua entrevista conosco para que possamos entender <br>
        melhor o que você precisa para o seu site.</p>
    </section>
      <div class="btn">
        <a href="form.html" >Consulta</a>
      </div>
    </div>
  </section>

  <section class="sobre" id="sobre">
    <div class="divisoria"></div>
    <div class="titulo">
      <img src="../static/img/Logo-Sobre.png" alt="Logo-Sobre">
    </div>
    <div class="sobre-img">
      <img src="../static/img/Foto pagina sobre.png" alt="Foto">
    </div>

    <div class="content">

      <h1>Inovação e tecnologia ao seu alcance</h1>
      <p>
        A Hope-X é líder em desenvolvimento de soluções tecnológicas inteligentes. <br> Desde 2025, ajudamos empresas a
        automatizar processos, reduzir custos e <br> aumentar a produtividade através de IA e machine learning.
      <p>
        Nossa missão é oferecer plataformas intuitivas e acessíveis, para o setor comercial, que <br> proporcionem uma
        experiência fluida e eficiente para cada cliente. Buscamos <br> impulsionar a transformação digital dos
        comércios,
        desenvolvendo sistemas modernos, <br> funcionais e personalizados que atendam às suas necessidades. <br>
        Assim, contribuímos para o crescimento e a competitividade dos nossos parceiros, <br> fortalecendo sua presença
        no
        mercado e impulsionando seus resultados.
      </p>

    </div>
    <section class="cli-satis">
      <div class="clientes">
        <h1>Clientes ativos</h1>
        <p>500+</p>
      </div>

      <div class="satisfacao">
        <h1>Satisfação</h1>
        <p>98%</p>
      </div>
      </p>
      </div>
    </section>

  </section>

  <section class="servicos" id="servicos">
    <div class="divisoria"></div>
    <section class="titulo">
      <div class="titulo-img"><img src="../static/img/nosso-servico.png" alt="nosso-servico"></div>
      <div class="subtitulo"><h2>Explore alguns exemplos de como nossa plataforma pode transformar seu negócio</h2></div>
      <div class="subtitulo1"><h3>O que você pode fazer com nossas soluções</h3></div>
    </section>
    <div class="fundo"></div>
    <div class="box-container">
      <div class="slide1">
        <div class="imagem"><img src="../static/img/computador-portatil.png" alt=""></div>
        <h1>Desenvolvimento de Sistemas Personalizados</h1>
        <p>Criamos plataformas e sistemas sob medida que otimizam a gestão comercial e aumentam a eficiência do seu
          negócio.</p>
      </div>

      <div class="slide2">
        <div class="imagem"><img src="../static/img/carrinho-de-compras.png" alt=""></div>
        <h1>Soluções para E-commerce e Vendas Online</h1>
        <p>Desenvolvemos lojas virtuais modernas, responsivas e integradas com meios de pagamento,
          delivery e marketplaces, garantindo uma experiência fluida para o cliente final.</p>
      </div>

      <div class="slide3">
        <div class="imagem"><img src="../static/img/engrenagens.png" alt=""></div>
        <h1>Integração e Automação de Processos</h1>
        <p>Conectamos e automatizamos seus sistemas para eliminar tarefas manuais,
          integrar estoque, vendas e logística, e tornar a operação mais ágil e inteligente.</p>
      </div>

      <div class="slide4">
        <div class="imagem"><img src="../static/img/icons8-foguete-64.png" alt=""></div>
        <h1>Consultoria em Transformação Digital</h1>
        <p>Apoiamos empresas na jornada digital, desde o diagnóstico tecnológico
          até a implementação de soluções que impulsionam resultados e fortalecem a presença no mercado.</p>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <div class="divisoria"></div>
      <h1 class="titulo">O QUE NOSSOS <span>CLIENTES DIZEM</span></h1>

      <div class="avaliacoes">
        <article class="avaliacao">
          <div class="quote">“</div>
          <div class="foto-perfil">
            <img
              src="../static/img/26408485-homem-estilo-de-vida-retrato-hipster-serio-camiseta-isolado-pessoa-branco-fundo-americano-sorrir-confiante-moda-foto.jpg"
              alt="perfil" class="perfil">
          </div>
          <h3 class="nome">Roy Mustang</h3>
          <p class="comentario">Serviço impecável! A empresa de TI entregou tudo com rapidez, qualidade e total
            profissionalismo. Recomendo sem hesitar.</p>
          <div class="estrelas">★★★★★</div>
        </article>

        <article class="avaliacao">
          <div class="quote">“</div>
          <div class="foto-perfil">
            <img src="../static/img/retrato-de-um-homem-sorridente-feliz_23-2149022620.avif" alt="perfil"
              class="perfil">
          </div>
          <h3 class="nome">Edward Elric</h3>
          <p class="comentario">Empresa de tecnologia altamente qualificada, com atendimento ágil, equipe técnica
            especializada e serviços executados com excelência.</p>
          <div class="estrelas">★★★★★</div>
        </article>

        <article class="avaliacao">
          <div class="quote">“</div>
          <div class="foto-perfil">
            <img src="../static/img/pessoa-de-origem-indiana-se-divertindo_23-2150285283.avif" alt="perfil"
              class="perfil">
          </div>
          <h3 class="nome">Carol Ackermann</h3>
          <p class="comentario">Boa empresa de TI: atendimento eficiente e solução rápida. A experiência geral foi muito
            positiva.</p>
          <div class="estrelas">★★★★</div>
        </article>
      </div>
    </div>
  </section>

  <footer class="footer">
        <!--COLUNA 1 - logos e conectar-->

        <div class="footer-container">
            <div class="footer-logos">
                <img src="../static/img/Logo-GroupHopex.png" alt="Group Hope-X">
                <h2>CONECTE-SE: </h2>

                <div class="social-icons">
                    <div class="yt">
                      <a href="https://www.youtube.com/@GroupHope-X">
                      <img src="../static/img/youtube-with-circle-svgrepo-com.svg" height="65.3" alt="YouTube">
                      </a>
                    </div>
                    <div class="insta">
                      <a href="https://www.instagram.com/grouphopex/">
                      <img src="../static/img/icon-instagram.png" alt="Instagram">
                      </a>
                    </div>
                    <div class="linkedin">
                      <a href="https://www.linkedin.com/in/group-hope-x-59282339b/">
                      <img src="../static/img/icon-linkedin.png" alt="Linkedin">
                      </a>
                    </div>
                </div>
            </div>

            <!--COLUNA 2 - empresa-->
            <div class="footer-colunas">
                <p class="footer-title">EMPRESA</p>
                <a href="index.html#sobre">Sobre Nós</a>
                <a href="index.html#servicos">Serviços</a>
                <a href="carreiras.html">Carreiras</a>
            </div>

            <!--COLUNA 3 - suporte-->
            <div class="footer-colunas">
                <p class="footer-title">SUPORTE</p>
                <a href="documentacao.html">Documentação</a>
                <a href="contatos.html">Central de Ajuda</a>
                <a href="contatos.html">Contatos</a>
            </div>

            <!--COLUNA 4 - legal-->
            <div class="footer-colunas">
                <p class="footer-title">LEGAL</p>
                <a href="Politicas.html">Política de Privacidade</a>
                <a href="termos-uso.html">Termos de Uso</a>
                <a href="cookies.html">Cookies</a>
            </div>

        </div>
    </footer>
</body>

</html>