<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hope-X</title>
  <link rel="icon" href="../static/img/Icon.png">
  <link rel="stylesheet" href="../static/style.css">


</head>

<body>

  <header>
    <div class="logo"><img src="../static/img/Logo.png" alt="Logo"></div>
    <nav>
      <ul>
        <li><a href="#inicio">Inicio</a></li>
        <li><a href="#sobre">Sobre</a></li>
        <li><a href="#serviços">Serviços</a></li>
        <li><a href="#contatos">Contatos</a></li>
        <li><a href="#entrar">Entrar</a></li>
      </ul>
    </nav>
  </header>

  <section class="inicial">

    <section class="inicial-h1">

      <div>
        <h1>Impulsione o Sucesso de sua empresa</h1>
      </div>

    </section>

    <section class=" inicial-img">

      <div>
        <img src="../static/img/Logo_da pagina_inicial.png" alt="Logo da pagina inicial">
      </div>

    </section>

    <section class="inicial-p">

      <div>
        <p>Criamos sites sob medida para empresas que querem <br>
          marcar presença com estilo, clareza e estratégia, fortalecendo <br>
          sua identidade online e impulsionando seu crescimento. </p>
      </div>

    </section>

    <section>
      <div>
        <button class="btn">Cadastre-se</button>
      </div>
    </section>

    </div>
  </section>

  <section class="sobre" id="sobre">

    <div class="titulo">
      <img src="../static/img/Logo-Sobre.png" alt="Logo-Sobre">
    </div>
    <div class="sobre-img">
      <img src="../static/img/Foto pagina sobre.png" alt="Foto">
    </div>

    <div class="content">

      <h1>Inovação e tecnologia ao seu alcance</h1>
      <p>
        A Hope-X é líder em desenvolvimento de soluções tecnológicas inteligentes. <br> Desde 2025, ajudamos empresas a
        automatizar processos, reduzir custos e <br> aumentar a produtividade através de IA e machine learning.
      <p>
        Nossa missão é oferecer plataformas intuitivas e acessíveis, para o setor comercial, que <br> proporcionem uma
        experiência fluida e eficiente para cada cliente. Buscamos <br> impulsionar a transformação digital dos
        comércios,
        desenvolvendo sistemas modernos, <br> funcionais e personalizados que atendam às suas necessidades. <br>
        Assim, contribuímos para o crescimento e a competitividade dos nossos parceiros, <br> fortalecendo sua presença
        no
        mercado e impulsionando seus resultados.
      </p>

    </div>

    <div class="clientes">
      <h1>Clientes ativos</h1>
      <p>500+</p>
    </div>

    <div class="satisfacao">
      <h1>Satisfação</h1>
      <p>98%</p>
    </div>
    </p>

    </div>

  </section>

  <section class="servicos">
    <section class="fundo">
      <div class="titulo"><img src="../static/img/nosso-servico.png" alt=""></div>
    </section>
    <div class="box-container">
      <div class="slide1">
        <div class="imagem"><img src="../static/img/icons8-computador-50.png" alt=""></div>
        <h1>Desenvolvimento <br>de Sistemas Personalizados</h1>
        <p>Criamos plataformas e sistemas sob medida que otimizam a gestão comercial e aumentam a eficiência do seu
          negócio.</p>
      </div>

      <div class="slide2">
        <div class="imagem"><img src="../static/img/icons8-carrinho-de-compras-64.png" alt=""></div>
        <h1>Soluções para E-commerce e Vendas Online</h1>
        <p>Desenvolvemos lojas virtuais modernas, responsivas e integradas com meios de pagamento,
          delivery e marketplaces, garantindo uma experiência fluida para o cliente final.</p>
      </div>

      <div class="slide3">
        <div class="imagem"><img src="../static/img/icons8-gears-50.png" alt=""></div>
        <h1>Integração e Automação de Processos</h1>
        <p>Conectamos e automatizamos seus sistemas para eliminar tarefas manuais,
          integrar estoque, vendas e logística, e tornar a operação mais ágil e inteligente.</p>
      </div>

      <div class="slide4">
        <div class="imagem"><img src="../static/img/icons8-foguete-64.png" alt=""></div>
        <h1>Consultoria em Transformação Digital</h1>
        <p>Apoiamos empresas na jornada digital, desde o diagnóstico tecnológico
          até a implementação de soluções que impulsionam resultados e fortalecem a presença no mercado.</p>
      </div>
    </div>
  </section>

</body>

</html>